<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OBS_Supporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OBS_Supporter.Properties.Settings>
      <setting name="scene1Games" serializeAs="String">
        <value />
      </setting>
      <setting name="savedOBSPath" serializeAs="String">
        <value />
      </setting>
      <setting name="savedTaskPath" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="savedNotificationSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="savedPort" serializeAs="String">
        <value>4444</value>
      </setting>
      <setting name="savedPassword" serializeAs="String">
        <value>""</value>
      </setting>
    </OBS_Supporter.Properties.Settings>
  </userSettings>
</configuration>